.container10{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    border: none;
}

@media screen and (max-width: 500px) {
	.container10 {
        height: 150vh;
    }
   

}